.single-card {
    height: 22.5rem;
    width: 15rem;
    border-radius: 1rem;
    background: #F6F8FF;
    padding: 1rem;
    margin: 2rem;
}

.news-image-container {
    height: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#news-related-image {
    max-width: 100%;
    height: auto;
    max-height: 11rem;
}

.news-title {
    margin: 0;
}

.news-author {
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

#news-author-name {
    text-decoration: none;
}

.news-description {
    margin-top: 0.5rem;
    height: 4.5rem;
    margin-bottom: 0.5rem;
}

.pusblishing-time {
    margin-top: 1.5rem;
}

.news-redirecting-link {
    text-decoration: none;
    color: inherit;
}