.single-box-container {
    flex: 0.25;
    background: blue;
    min-width: 25%;
    border: 2px solid black;
    min-height: 7rem;
    color: white;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.single-box-container.red-one {
    background: red;
}