.filter-choices {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.filter-select-holder{
    margin-left: 3rem;
}

.filter-select {
    border-radius: 0.5rem;
    width: 12rem;
    border: none;
    background: #F6F8FF;
    padding: 0.5rem;
    margin-left: 1rem;
}
